@charset "UTF-8";
// 変数
@use 'variable/a5-yoko-common';
// フォント関連
@use 'yoko/fonts';
// ページのスタイル定義
@use 'yoko/format';
// タイポグラフィのスタイル定義
@use 'yoko/typography';
// コンテンツのスタイル定義
@use 'yoko/contents';
// シンタックスハイライト
@use 'common/rouge';

@page {
    size: a5-yoko-common.$paper-size;
    bleed: 3mm;
    // 行送り * 行数
    width: a5-yoko-common.$content-width;
    // フォントサイズ * 文字数
    height: a5-yoko-common.$content-height;
    margin: auto;
    // margin-top: $ten;
    // margin-bottom: $chi;
    marks: crop;
}

// 基本フォントサイズ
$base-font-size: 9pt;
// 基本行送り
$base-line-height: 1.4rem;


//組み方向
$writing-mode: horizontal-tb;

// 行数
$lines: 22;
// 1行あたり文字数
$characters-per-line: 50;
// 天
$ten: 17mm;
// 地
$chi: 15mm;
// 小口
$koguchi: 12mm;
// ノド
$nodo: 18mm;

//紙のサイズ
$paper-size: a5;
//塗り足しサイズ
$bleed-size: 3mm;

//紙の横幅
$paper-width: 148mm;
//紙の縦幅
$paper-height: 210mm;
//トンボ
$marks: crop;

//コンテンツの横幅
//$content-width: $base-line-height * $lines;
$content-width: $paper-width - $koguchi - $nodo;
//コンテンツの縦幅
//$content-height: $base-font-size * $characters-per-line;
$content-height: $paper-height - $ten - $chi;

// ページのスタイル定義
@import 'yoko/format';
// タイポグラフィのスタイル定義
@import 'yoko/typography';
// コンテンツのスタイル定義
@import 'yoko/contents';
// シンタックスハイライト
@import 'common/rouge';