@charset "UTF-8";

@use "../../variable/a5-yoko-common";

@page :left {
  
    margin-right: a5-yoko-common.$nodo;
    margin-left: a5-yoko-common.$koguchi;
  
    @top-left {
        /* 左上ノンブル、柱（タイトル文字列） */
        content: counter(page) "　　" env(pub-title);
        font-size: 5.5pt;
        vertical-align: top;
        margin-left: 3.75pt;
        margin-top: 6mm;
        -webkit-writing-mode: horizontal-tb;
        -epub-writing-mode:   horizontal-tb;
        writing-mode: horizontal-tb;
    }

    // @right-middle {
    //     /* 隠しノンブル */
    //     font-size: 4pt;
    //     margin-right: -19mm !important;
    //     padding: 2px;
    //     white-space: pre;
    //     -webkit-writing-mode: horizontal-tb;
    //     -epub-writing-mode:   horizontal-tb;
    //     writing-mode: horizontal-tb;
    //     content: counter(page);
    // }
}

@page :right {

    margin-left: a5-yoko-common.$nodo;
    margin-right: a5-yoko-common.$koguchi;

    @top-right {
        /* 右上ノンブル、柱（出版物タイトル文字列） */
        content: env(doc-title) "　　" counter(page);
        font-size: 5.5pt;
        vertical-align: top;
        margin-right: 3.75pt;
        margin-top: 6mm;
        -webkit-writing-mode: horizontal-tb;
        -epub-writing-mode:   horizontal-tb;
        writing-mode: horizontal-tb;
    }

    // @left-middle {
    //     /* 隠しノンブル */
    //     font-size: 4pt;
    //     margin-left: -19mm !important;
    //     padding: 2px;
    //     white-space: pre;
    //     -webkit-writing-mode: horizontal-tb;
    //     -epub-writing-mode:   horizontal-tb;
    //     writing-mode: horizontal-tb;
    //     content: counter(page);
    // }
}

@page :first { 
    width: 100% !important;
    height: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  
    @top-left {
        content: none;
    }
  
    @top-right {
        content: none;
    }
  
    img {
        max-inline-size: 100%;
        max-block-size: 100vb;
        object-fit: contain;
    }
}
  
@page :last {
    @top-left {
        content: none;
    }
  
    @top-right {
        content: none;
    }
}