@charset "UTF-8";

// 基本フォントサイズ
$base-font-size: 10pt;
// 基本行送り
$base-line-height: 1.4rem;


//組み方向
$writing-mode: horizontal-tb;

// 行数
$lines: 29;
// 1行あたり文字数
$characters-per-line: 32;
// 天
$ten: 17mm;
// 地
$chi: 16mm;
// 小口
$koguchi: 12mm;
// ノド
$nodo: 18mm;

//紙のサイズ
$paper-size: a5;
//塗り足しサイズ
$bleed-size: 3mm;

//紙の横幅
$paper-width: 148mm;
//紙の縦幅
$paper-height: 210mm;
//トンボ
$marks: crop;

//コンテンツの横幅
$content-width: $paper-width - $koguchi - $nodo;
// $content-width: $base-line-height * $lines;
//コンテンツの縦幅
$content-height: $paper-height - $ten - $chi;
// $content-height: $base-font-size * $characters-per-line;