@charset "UTF-8";

/* 裏表紙 */
.backcover {
    page: backcover;
  
    & > img {
      max-inline-size: 100%;
      max-block-size: 100vb;
      object-fit: contain;
    }
  }
  
  @page backcover {
    width: 100% !important;
    height: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  
    @top-left {
      content: none;
    }
    @top-right {
      content: none;
    }
  }