@charset "UTF-8";

@use "../../variable/a5-yoko-common";

/* 著者紹介 */
.profile {
    font-size: 0.8em;
    -webkit-writing-mode: a5-yoko-common.$writing-mode;
    -epub-writing-mode: a5-yoko-common.$writing-mode;
    writing-mode: a5-yoko-common.$writing-mode;

    .writer {
        display: flex;
        margin-bottom: 1.5em;

        figure {
            width: 140px !important;
            margin-bottom: 20px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & > img {
            width: 120px;
            height: 120px;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
            }

            figcaption {
            text-align: center;
            font-size: 7pt;
            line-height: 14pt;
            margin-bottom: 4pt;
            }
        }

        div.profile-content{
            width: 100%;
            -webkit-writing-mode: horizontal-tb;
            -epub-writing-mode:   horizontal-tb;
            writing-mode: horizontal-tb;
            font-size: 7pt;

            h2, h3, p {
                text-indent: 0em;
            }

            dl {
                width: 100%;
                dt {
                    width: 20%;
                    font-weight: 700;
                    float: left;
                    &::after {
                        content: ": ";
                    }
                }

                dd {
                    margin-left: 25%;
                    width: 80%;
                }
            }
        }
    }
}
