@charset "UTF-8";

@use '../common/contents-common';
@use "../variable/a5-yoko-common";

/* 画像＋キャプション */
div.image {
  margin: 2em auto;
  padding: 0;

  & > img {
    margin: 0 auto;
    padding: 0;
    display: block;
  }

  & > p.caption {
    margin: 0 auto;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    text-indent: 0;
  }

  &::after {
    content:'';
    display: block; 
    clear:both;
  }
}

/* リンク */
a {
  text-decoration: none;
  border-bottom: 1px dashed;
  padding-bottom: 3px;
}
