@charset "UTF-8";

@import '../common/contents-common';

/* 画像＋キャプション */
div.image {
  float-reference: page;
  float: right;
  width: 100%;
  max-width: $content-width;
  max-height: $content-height;
  box-sizing: border-box;
  writing-mode: horizontal-tb;

  & > img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    max-width: $content-width;
    max-height: $content-height;
  }

  & > p.caption {
    text-align: center;
    font-size: 7pt;
    line-height: 14pt;
    margin-bottom: 4pt;
    & > a {

    }
  }

  &::after {
    content:'';
    display: block; 
    clear:both;
  }
}

/* リンク */
a {
  text-decoration: none;
  border-bottom: 1px dashed;
  padding-bottom: 3px;
}
