@charset "UTF-8";

@use "../variable/a5-yoko-common";

html {
  /* 組み方向 */
  -webkit-writing-mode: a5-yoko-common.$writing-mode;
  -epub-writing-mode: a5-yoko-common.$writing-mode;
  writing-mode: a5-yoko-common.$writing-mode;

  orphans: 1;
  widows: 1;
}

* {
  margin: 0;
  padding: 0;
}